# Node / pnpm
node_modules/
frontend/node_modules/
frontend/dist/

# Java / Maven
backend/target/
*.log

# IDE
.idea/
.vscode/
*.iml

# Build artifacts
backend/src/main/resources/static/
!/backend/src/main/resources/static/.gitkeep
